@font-face {
  font-family: "Clear Sans";
  src: url("./clear-sans.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex: wrap;
}

.board {
  order: 1;
  background-color: #baa;
  border-radius: 7px;
  position: relative;
  outline: none;
}

.board .tile {
  position: absolute;
  display: flex;
  color: red;
}
.tile .value {
  background-color: #dcb;
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 7px;
  font-size: 55px;
  line-height: 90px;
  color: #766;
  font-family: "Clear Sans";
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: default;
}
